USE [master]
GO
/****** Object:  Database [Library_DB]    Script Date: 05/02/2025 05:14:06 م ******/
CREATE DATABASE [Library_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Library_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Library_DB.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Library_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Library_DB_log.ldf' , SIZE = 1280KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Library_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Library_DB]
GO
/****** Object:  Table [dbo].[Tbl_author]    Script Date: 05/02/2025 05:14:07 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_author](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Author] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tbl_books]    Script Date: 05/02/2025 05:14:07 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_books](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[author_id] [int] NULL,
	[author_date] [nvarchar](50) NULL,
	[ISBN] [nvarchar](50) NULL,
	[notes] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
USE [master]
GO
